django>=6.0,<7.0
djangorestframework
django-cors-headers
django-environ
psycopg[binary]
djangorestframework-simplejwt
django-allauth
dj-rest-auth[with_social]
google-auth
pillow
cloudinary
django-cloudinary-storage
